body {
    background: rgb(5,19,46);
    background: linear-gradient(180deg, rgba(5,19,46,1) 0%, rgba(9,36,86,1) 100%);
}

.banner {
    background-color: #000;
    padding: 30px;
    border-radius: 30px;

    color: #fff;
    position: relative;

    display: flex;
    justify-content: center;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;

    background-color: #165cde;
    filter: blur(200px);
    
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}